
.container{
    width: 100%;
    height: 100%;
}
.container__wrapper{
    margin: 0 auto;
}
h1{
    font-size: 70px;
    color: beige;
}
.header{
    width: 100%;
    height: 904px;
    background-image: url("/img/Subtract.png");
    background-repeat: no-repeat;
    background-position: center;;
   
}
.nav{
    display: flex;
}